@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor1: #c6e4e3;
  --cor2: #58bebe;
  --cor3: #31af7d;
  --cor4: #439342;
  --cor5: #03363d;

  --font-primaria: 'Titillium Web', cursive, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ocupacao {
  flex: 1;
  background-color: var(--cor3);
}

/* ##### Header Style ##### */
.logotipo {
  width: 70px;
  margin-right: 10px;
}

.logo {
  font-family: var(--font-primaria);
  font-weight: bolder;
  font-size: 30px;
  color: var(--cor1);
}

.logo:hover {
  color: var(--cor1);
}

.span-logo {
  font-family: var(--font-primaria);
  font-weight: lighter;
  font-size: 15px;
  margin-left: 5px;
  color: var(--cor1);
}

nav {
  background-image: linear-gradient(to bottom, var(--cor5), #03363dbb);
}

.nav-link {
  font-size: 18px;
  color: white !important;
}

.active {
  color: var(--cor2) !important;
  font-weight: bolder;
}

.navbar-toggler,
.navbar-toggler-icon {
  background-color: var(--cor1) !important;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  background-color: var(--cor1) !important;
  color: var(--cor1) !important;
}

.btn-group {
  display: inline-flex;
  align-items: center;
}

.btn-menu-entrar {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-primaria);
  font-size: 15px;
  font-weight: bolder;
  background-color: transparent;
  color: var(--cor1);
  border: 2px solid var(--cor1);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  height: 35px;
  cursor: pointer;
}

.btn-menu-entrar::before {
  content: 'Entrar';
}

.btn-menu-entrar:hover {
  border: 2px solid var(--cor2);
  color: var(--cor2);
  transition: 0.5s;
}

.btn-menu-cad {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-primaria);
  font-size: 15px;
  font-weight: bolder;
  background-color: var(--cor1);
  color: var(--cor5);
  border: none;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  height: 35px;
  cursor: pointer;
}

.btn-menu-cad:hover {
  background-color: var(--cor2);
  transition: 0.5s;
}

.navbar-expand-md {
  padding-bottom: 15px;
}

hr {
  color: var(--cor1);
}

/* ##### Header Style ##### */

/* ##### Main Style ##### */


/* --------------->CSS da Equipe AQUI<-------------------- */
.form-container {
  background-color: var(--cor1);
}

.bg-form {
  background-color: var(--cor1);
  border: 1px solid var(--cor5);

}

.meu-botao {
  background-color: var(--cor5);
  border: none;
  color: var(--cor1);
  padding: 5px 30px;
  border-radius: 5px;
}

.meu-botao:hover {
  background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
}



/* ##### Main Style ##### */

/* ##### Footer Style ##### */
.bg-footer {
  background-color: var(--cor5);
}

/*Agatha*/
.rodape {
  color: var(--cor1)
}

.gp-footer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gp-footer>i {
  margin-right: 15px;
  margin-bottom: 5px;
}

.gp-footer>.marc {
  margin-bottom: 5px;
  font-weight: normal !important;
}

.gp-col-foot {
  padding: 5px 0px 20px 35px;
}

.foot-title {
  margin-bottom: 20px;
}

.pro-carreira {
  font-family: var(--font-primaria);
  font-size: 22px;
  font-weight: bold;
  color: var(--cor5);
}

.fot-end {
  background-color: var(--cor1);
  color: var(--cor5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* ##### Footer Style ##### */
